<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris model</title>
</head>
<body>
<br><br><br>
<form action="/sentimental" class="form-group" method="post">
    <div style="text-align: center">
        <p><font size="7" color="#00ff00"> Sentimental analysis with BERT machine learning</font></p>   
        <p>↓Input your sentence↓<p>
        <textarea size="15" rows="4" cols="80" type="text" name="target_msg">(ex: I love this book and it's really useful for study)</textarea></p>
    </div>
    <div style="text-align: center">
    	<input type="submit" value="submit"/>
    </div>
</form>
</body>
</html>